<h1><%= @merchant.name %>'s Discounts</h1>
  Percent off: <%= @discount.percent_off %><br>
  Minimum threshold: <%= @discount.min_threshold %><br><br>

<%= link_to('Back to All Discounts', merchant_discounts_path(@merchant), method: :get) %><br>
